body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:rgba(139,128,240,.50);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#header {
  background-color:rgba(91, 91, 151,88);
  width:100%;
  text-align: center;
  color:rgb(255, 255, 255);
  font-size:4em;
} 

.bookContainer {
  background-color: rgba(255, 183, 195, 0.5);
  margin: 2em;
  padding: 20px;
}

#flexcontainer {
  display:flex;
  flex-wrap:wrap;
}
#root {
  /* flex attributes */
  /* display:flex; */
  /* text-align:center; */
  /* width:100%; */
  /* display:flex; */
}
#librarycontainer2 {
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
}


button {
  border:none;
  background-color:rgb(0,0,53);
  color:rgb(255, 255, 255);
  margin:5px;
  padding:10px;
  font-size:1em;
}
