body {
  margin: 0;
  padding: 0;
  font-family: Rubik, sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:#8b9cff80;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#header {
  background-color:rgba(91, 91, 151,88);
  width:100%;
  text-align: center;
  color:rgb(255, 255, 255);
  font-size:4em;
} 

.bookContainer {
  margin: 2em;
  padding: 20px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255,0.5);
}

/* #flexcontainer {
  display:flex;
  flex-wrap:wrap;
} */
#root {
  /* flex attributes */
  /* display:flex; */
  /* text-align:center; */
  /* width:100%; */
  /* display:flex; */
}
#librarycontainer2 {
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
}


button {
  border:none;
  background-color:rgb(0,0,53);
  color:rgb(255, 255, 255);
  margin:5px;
  padding:10px;
  font-size:1em;
}

#addBookForm {
  /* border: 5px solid red; */
  border: 1px solid gray;
  background-color: rgba(204, 204, 204, 0.5);
  padding: 20px;
  margin: 10px;
  width: 50%;
  margin-left:auto;
  margin-right:auto;
}

#addBookForm.clicked {
  border: 10px solid white;
}